@charset "UTF-8";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #3C9AE2;
}


html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.file-btn {
    width: 99.80%;
    height: 96.99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.navigation {
    background-color: black;
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.navigation > div {
    margin-right: 50px;
}
button {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.button {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}